// Sizes
$max-width: 960px;


// Color palette
// $color-black: #3b3b3b;
$color-black: #191919;
$color-accent: #8685ef;
$color-white: #ffffff;
$color-reenforce: #d3fbd8;
$color-success: #77E48B;
$color-gray: #e7e7e7;
$color-darkgray: #b3b3b3;

// Font
$color-font-primary: $color-black;
$color-font-light: $color-white;
$color-font-subtle: #777777;
$color-font-emphasize: #333333;

// Button
$color-button-primary: $color-accent;
$color-button-hover: hsl(241, 77%, 70%);
$color-button-disabled: $color-gray;
$color-button-shadow: rgba($color-button-primary, .3);

// Card
$color-card-background: #e7e7e7;
$color-card-shadow: #111111;
$color-card-title-underline: $color-accent;