$color-black: #3b3b3b;
$color-accent: #8685ef;
$color-white: #faf8ff;
$color-reenforce: #d3fbd8;

// Button
$color-button-primary: $color-accent;
$color-button-hover: hsl(241, 77%, 70%);
$color-button-shadow: rgba($color-button-primary, .3);